<h1>Listing Users</h1>

<ul class="choices">
<li><%= link_to 'Create New User', new_admin_user_path %></li>
</ul>

<a class="tooltip" href="/cms_help.pdf">&nbsp;</a>
<%= will_paginate(@users, :previous_label => 'Previous', :next_label => 'Next') %>
<div id="content-table">
<table class="content">
  <thead>
    <tr>
      <%= sortable_table_header :name => "Name",  :sort => "title" %>
      <%= sortable_table_header :name => "Email",  :sort => "email" %>
      <%= sortable_table_header :name => "Role",  :sort => "role" %>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
<% for user in @users -%>
    <tr>
      <td><%= link_to user.name, [:admin, user], :class => 'edit', :title => 'Edit this user' %></td>
      <td><%= user.email %></td>
      <td><%= user.groups %></td>
      <td><%= link_to 'Delete', [:admin, user], :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete this user' %></td>
    </tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <%= sortable_table_header :name => "Name",  :sort => "title" %>
      <%= sortable_table_header :name => "Email",  :sort => "email" %>
      <%= sortable_table_header :name => "Role",  :sort => "role" %>
      <th>Delete</th>
    </tr>
  </tfoot>
</table>

<%= will_paginate(@users, :previous_label => 'Previous', :next_label => 'Next') %>
