<% content_for :header, javascript_include_tag( 'admin/nodes' ) %>

<h1><%= @user.new_record? ? 'New' : 'Editing' %> User</h1>

<%= form_for([:admin, @user], :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <span class="tooltip" title="Enter the name of this user">&nbsp;</span>
    <%= f.label :name %><br/>
    <span class="input-wrap"><%= f.text_field :name  %></span>
  </p>

  <p>
    <span class="tooltip" title="Enter the email address the user will use to login">&nbsp;</span>
    <%= f.label :email %><br/>
    <span class="input-wrap"><%= f.text_field :email %></span>
  </p>
  
  <p>
    <span class="tooltip" title="Select an image to use as this user's icon">&nbsp;</span>
    <%= f.label :avatar %><br/>
    <span class="input-wrap"><%= f.file_field :avatar %></span>
  </p>

  <p>
    <span class="tooltip" title="Enter some text about this user">&nbsp;</span>
    <%= f.label :bio %><br/>
    <span class="input-wrap"><%= f.text_area :bio %></span>
  </p>

  <p>
    <span class="tooltip" title="Enter the a password for the user">&nbsp;</span>
    <%= f.label :password, password_label %><br/>
    <span class="input-wrap"><%= f.password_field :password, :onKeyUp => "updateStrength(this.value)"  %></span>
  </p>

  <p>
    <span class="tooltip" title="Enter the password again to confirm it is correct">&nbsp;</span>
    <%= f.label :password_confirmation %><br/>
    <span class="input-wrap"><%= f.password_field :password_confirmation %></span>
  </p>

  <p>
    <span class="tooltip" title="Add a user to a group, this will determine what tasks they can perform when managing content.">&nbsp;</span>
    <%= f.label :group_list, "Permission Groups" %><br/>
    <span class="input-wrap"><%= f.text_field :group_list, :class => "groups-completer" %></span>
  </p>

  <p class="fixed-form">
    <%= f.submit @user.new_record? ? 'Create' : 'Update', :disable_with => 'Submitting...', :class => 'update' %>
    <%= link_to 'Cancel', admin_users_path, :class => 'cancel' %>
  </p>
<% end %>


